<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off"
          [formGroup]="miFormulario"
          (ngSubmit)="submitFormulario()">

<!--      Nombre   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Nombre</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="nombre"
                 placeholder="Nombre del usuario">
          <span class="form-text text-danger"
                *ngIf="campoNoValido('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>



      <!--      Email   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="Email del usuario">
          <span class="form-text text-danger"
                *ngIf="campoNoValido('email')">
            El correo es obligatorio
          </span>
        </div>
      </div>


      <!--      Username   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Username</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="Nombre código del usuario">
          <span class="form-text text-danger"
                *ngIf="campoNoValido('username')">
            El username no puede ser strider
          </span>
        </div>
      </div>


      <!--      Password   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Password de su cuenta">
          <span class="form-text text-danger"
                *ngIf="campoNoValido('password')">
            La contraseña debe ser mayor que 6 caracteres
          </span>
        </div>
      </div>



      <!--      Password2   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="password2"
                 placeholder="Confirmar la contraseña">
          <span class="form-text text-danger"
                *ngIf="campoNoValido('password2')">
            Las contraseñas deben ser iguales
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  [disabled]="miFormulario.pending"
                  type="submit">
            Crear
          </button>
        </div>
      </div>




    </form>
  </div>
</div>


<h5>Form Valid</h5>
<pre>{{ miFormulario.valid }}</pre>


<h5>Form Status</h5>
<pre>{{ miFormulario.status }}</pre>
<br>

<h5>Form Pending</h5>
<pre>{{ miFormulario.pending }}</pre>
<br>

<h5>Form Errors</h5>
<pre>{{ miFormulario.errors | json }}</pre>
<br>


<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>
<br>

<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>
<br>

<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>
<br>

<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>
<br>

<h5>Confirmar</h5>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
