<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off">

<!--      Nombre   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Nombre</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del usuario">
          <span class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>



      <!--      Email   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 placeholder="Email del usuario">
        </div>
      </div>


      <!--      Username   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Username</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="Nombre código del usuario">
        </div>
      </div>


      <!--      Password   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Password de su cuenta">
        </div>
      </div>



      <!--      Password2   -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form.label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 placeholder="Confirmar la contraseña">
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end">
            Crear
          </button>
        </div>
      </div>




    </form>
  </div>
</div>
